
html {
  box-sizing: border-box;
  list-style-type: none;
  font-family: Montserrat, sans-serif;
  background-color: #c0ffe2;
}

*, *::before, *::after {
  box-sizing: inherit;
}

header {
  background-color: #d61b5f;
}

.nav a {
  list-style-type: none;
  text-align: center;
}

.btn {
  background-color: #d61b5f;
  border: 3px solid #d61b5f;
}

.btn:hover {
  background-color: #c0ffe2;
  border: 3px solid #65bc46;
  color: #65bc46;
}

h1 {
  color: white;
  font-family: "Baloo Paaji", Monserrat;

}

h2 {
  color: #ee4387;
  font-family: "Baloo Paaji", Monserrat;
}

.banner {
  background-image: url("../images/banner2.jpg");
  background-size: 100% auto;
}

figcaption {
  color: black;
}

h3 {
  color: #65bc46;
}

input,
select,
option,
textarea {
  color: #ee4387;
}

form div {
  padding-bottom: 1rem;
}

button {
  border-radius: 5px;
  padding: .5rem;
  background-color: #c0ffe2;
  border: 3px solid #65bc46;
  color: #65bc46;
}

button:hover {
  background-color: #d61b5f;
  border: 3px solid #d61b5f;
  color: white;
}

.123 {
  position: absolute
  right: 0;
  bottom: 0;
}
